/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} */

@font-face {
  font-family: Poppins;
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/assets/fonts//Poppins-SemiBold.ttf");
}

body {
  background-color: rgb(155, 196, 196);
}

.main {
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  height: 600px;
  width: 1100px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #434343;
}

.contact-container {
  height: 100%;
  background-color: rgb(0, 178, 178);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 300px;
}

.contact-info {
  height: 100%;
  display: flex;
  align-items: end;
}

.contact {
  margin-bottom: 60px;
  width: 100%;
}

.email-phone {
  margin-left: 40px;
}

.email {
  margin-bottom: 10px;
  color: white;
  font-family: Poppins-Bold;
  display: flex;
}

.email-img {
  font-size: 15px;
  margin-right: 6px;
}

.email-ad {
  margin-top: 0px;
  margin-bottom: 30px;
  color: white;
  font-family: Poppins;
  font-size: 14px;
}

.phone {
  margin-bottom: 10px;
  color: white;
  font-size: medium;
  font-family: Poppins-Bold;
  display: flex;
}

.phone-img {
  font-size: 15px;
  margin-right: 6px;
}

.phone-num {
  margin-top: 0px;
  color: white;
  font-family: Poppins;
  font-size: 14px;
}

.split-bar {
  margin-top: 20px;
  height: 20px;
  background-color: lightgray;
}

.find-me {
  color: white;
  font-family: Poppins-Bold;
}

.find-me-links {
  margin-left: 40px;
}

.social-container {
  display: flex;
}

a {
  margin-right: 15px;
}

a:hover img {
  transform: scale(1.2);
}

a {
  background-color: transparent;
  border: 0;
}

@media (max-width: 1150px) {
  .main {
    height: 400px;
    width: 900px;
  }
}

/* @media (max-width: 1150px) {
  .contact-container {
    width: 200px;
  }
} */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
