/* This is an example CSS file, feel free to remove/edit it anytime */

body {
  background-color: rgb(171, 216, 216);
}

.main {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  height: 40%;
  width: 75%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
