/* This is an example CSS file, feel free to remove/edit it anytime */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} */

body {
  background-color: rgb(155, 196, 196);
}

.main {
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  height: 60%;
  width: 75%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #434343;
}

.contact-container {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: rgb(0, 178, 178);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contact-info {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  /* max-width: 300px; */
  display: flex;
  align-items: end;
}

/* .contact {
  position: absolute;
} */

.email-phone {
  margin-left: 40px;
}

.email {
  margin-top: 0px;
  margin-bottom: 5px;
}
.email-ad {
  margin-top: 0px;
  margin-bottom: 30px;
}

.phone {
  margin-top: 0px;
  margin-bottom: 5px;
}

.phone-num {
  margin-top: 0px;
}

.split-bar {
  margin-top: 20px;
  height: 20px;
  background-color: lightgray;
}

.find-me-links {
  margin-left: 40px;
}

.contact {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
